.jumbotron {
    text-align: center;
    color: white;
    background: url(~/Content/wolverine.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}