.jumbotron {
    background-image: url('garbage truck.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    height: 400px;
    background-position: center 20%;
    color:aliceblue;
}

a {
color: #888888;
}


.bg-dark{
    background-color: indianred;
}

h1 {
    color:snow;
}