@{
    ViewBag.Title = "About";
}
<h2 style="padding:10px;"></h2>
<h3>The Future is Now!</h3>

<p>Municipal trash collection has remained largely unchanged for decades. It's time to disrupt the status
quo with a flexible, online pickup manager. Welcome to Trash Collector.</p>
