@{
    ViewBag.Title = "Home Page";
}

<h2 style="padding:10px;"></h2>

<div class="jumbotron">
    <h1>Hello Neighbor.</h1>
    <p class="lead">We are here to make trash collection easier</p>
    <p><a href="http://localhost:55754/Account/Register" class="btn btn-primary btn-lg">Cick To Register &raquo;</a></p>
</div>
<hr>
<center><h4 style="margin-bottom:10px;">Our Services</h4></center>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="thumbnail img-thumbnail">
            <a href="#" target="_blank">
                <img src="~/Content/jay-clark-600280-unsplash.jpg" alt="#" style="width: 100%;">
                <p style="text-align:center">Schedule Pick Ups Anytime</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="thumbnail img-thumbnail">
            <a href="#" target="_blank">
                <img src="~/Content/jilbert-ebrahimi-691926-unsplash.jpg" alt="#" style="width: 100%;">
                <p style="text-align:center">Got a Business? We have you covered</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="thumbnail img-thumbnail">
            <a href="#" target="_blank">
                <img src="~/Content/shane-rounce-268118-unsplash.jpg" alt="#" style="width: 100%;">
                <p style="text-align:center">True curbside pick up</p>
            </a>
        </div>
    </div>
</div>